body {
  margin-top: 105px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: "freight-micro-pro", serif;
  font-size: 1.2rem; }

.navbar {
  /*box-shadow: 2px 2px 5px $primary;*/
  border-bottom: 5px solid;
  border-image-source: linear-gradient(to right, #2e2f81, #00a19a);
  border-image-slice: 1;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }
    .navbar .nav-item .active {
      border-bottom: 2px #00a19a solid;
      color: #2e2f81 !important; }
    .navbar .nav-item .nav-link:hover {
      color: #2e2f81; }

h1,
.nav-link {
  font-family: "antrasteregular"; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("../img/shutterstock_269313245.jpg") no-repeat center center/cover; }

.carousel-image-2 {
  background: url("../img/praktijk-1.jpg") no-repeat center center/cover; }

.carousel-image-3 {
  background: url("../img/praktijk-1.jpg") no-repeat center center/cover; }

.carousel-indicators .active {
  background-color: #2e2f81; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232d2e82' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232d2e82' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

#artsen li,
#afspraak li {
  border-color: #00a19a; }

.card:hover {
  border: 2px solid #00a19a !important;
  transform: scale(1.01); }

#main-footer {
  background-image: linear-gradient(to right, #2e2f81, #00a19a); }
