$primary: #2e2f81;
$secondary: #00a19a;

body {
  margin-top: 105px;
  /*font-family: "Roboto", sans-serif;*/
  font-family: "freight-micro-pro", serif;
}

.navbar {
  /*box-shadow: 2px 2px 5px $primary;*/
  border-bottom: 5px solid;
  border-image-source: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
  opacity: 0.9;
  background: #fff;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;

    .active {
      border-bottom: 2px $secondary solid;
      color: $primary !important;
    }
    .nav-link:hover {
      color: $primary;
    }
  }
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("../img/shutterstock_269313245.jpg") no-repeat center
    center/cover;
}

.carousel-image-2 {
  background: url("../img/praktijk-1.jpg") no-repeat center center/cover;
}

.carousel-image-3 {
  background: url("../img/praktijk-1.jpg") no-repeat center center/cover;
}

.carousel-indicators .active {
  background-color: $primary;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232d2e82' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232d2e82' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#artsen li {
  border-color: $secondary;
}

#main-footer {
  background-image: linear-gradient(to right, $primary, $secondary);
}
